.header__nav-user {
  padding-left: 0;
}

.rounded-circle {
  border-radius: 50% !important;
}

.badge {
  --bs-badge-padding-x: 0.65em;
  --bs-badge-padding-y: 0.35em;
  --bs-badge-font-size: 0.75em;
  --bs-badge-font-weight: 700;
  --bs-badge-color: #fff;
  --bs-badge-border-radius: var(--bs-border-radius);
  display: inline-block;
  padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
  font-size: var(--bs-badge-font-size);
  font-weight: var(--bs-badge-font-weight);
  line-height: 1;
  color: var(--bs-badge-color);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: var(--bs-badge-border-radius);
}

.numeroCarrito {
  position: absolute !important;
  top: 13% !important;
  left: 20% !important;
  background: #cf3010 !important;
  width: 20px !important;
  height: 20px !important;
  border-radius: 50% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: white !important;
  padding: 2px !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
}

.carrito-text {
  text-decoration: none;
  display: inline-flex;
  padding: 13px 10px;
  position: relative;
}

.carrito-text .imagen-carrito {
  width: 34px;
  height: 34px;
}

.carrito-text .carrito-nav {
  color: #6c6c6c;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: var(--bs-nav-link-font-size);
}

.imagen-carrito {
  margin: -3px 5px 0 0;
  color: #6c6c6c;
}

@media (max-width: 576px) {
  .numeroCarrito {
    left: 54%;
  }
  .header__nav-user {
    border-left: none;
  }
  .header__nav-user div {
    display: none;
  }
}

.elim-cart {
  position: absolute !important;
  top: 1% !important;
  left: 98.5% !important;
}
.elim-cart2 {
  position: absolute !important;
  top: 77% !important;
  left: 98.5% !important;
}
