.fixed-top {
  position: sticky !important;
  height: 3.5em;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.container {
  max-width: 100% !important;
}

.nav-link {
  margin: 0 1rem;
}
.nav-link:focus,
.nav-link:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

@media (max-width: 767px) {
  .nav-link {
    margin: 0.5rem 0;
  }
  .fixed-top {
    position: fixed !important;
    height: auto;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  }
  .navbar {
    padding: 0 !important;
    margin: 0 !important;
  }
}
