@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@300&family=Barlow+Condensed:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Asap Condensed", sans-serif;
  font-weight: 600;
}

body {
  background-color: #f4f4f4 !important;
}

#root {
  display: flex;
  min-height: calc(100vh);
  flex-direction: column;
}
