@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@300&family=Barlow+Condensed:wght@200&display=swap");

#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.fuente-copada {
  font-family: "Asap Condensed", sans-serif;
  text-transform: uppercase;
}

.texto-xxs {
  font-size: 12.5px;
}

.texto-xs {
  font-size: 14.5px;
}

.texto-lg {
  font-size: 24px;
}

.texto-xl {
  font-size: 40px;
}

.texto-xxl {
  font-size: 44px;
}

.vr {
  display: inline-block;
  align-self: stretch;
  width: 1px;
  min-height: 1em;
  background-color: currentcolor;
  opacity: 0.25;
}

.vr-mio {
  align-self: center;
}

div nav {
  padding: 0 0.2rem 0 0;
}

li {
  padding: 0 5px 0 5px;
}

li a {
  color: #6c6c6c;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px 10px;
  text-decoration: none;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

li a:hover {
  color: #fff;
  background-color: #000;
  filter: drop-shadow(2px 4px 6px #000);
}

nav input {
  display: none;
}

nav label {
  display: none;
}
