.product-details-quantity {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.quantity-select {
  display: inline-block;
  position: relative;
  max-width: 80px;
  vertical-align: middle;
}

.quantity-select input {
  text-align: center;
  padding: 0 15px;
  height: 38px;
}

.quantity-select .qtybutton.dec {
  left: 0;
  right: auto;
}

.quantity-select .qtybutton.inc {
  right: 0;
  left: auto;
}

.quantity-select .qtybutton {
  position: absolute;
  top: 50%;
  height: 26px;
  width: 30px;
  line-height: 25px;
  margin-top: -15.5px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}

.quantity-select input,
.quantity-select select {
  height: 40px;
  padding: 0 15px;
}
.quantity-select input,
.quantity-select select,
.quantity-select textarea {
  width: 100%;
  font-size: 16px;
}

.price-box .pricebox-price {
  font-size: 2rem;
  font-weight: 700;
}
